<h1>Create Roles</h1>

<form action="/admin/roles/create" method="post">

    <div class="form-group">
        <label for="">Name</label>
        <input type="text" name="name" class="form-control">
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-success">Create</button>
    </div>

</form>